@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

:root {
    --font-family: 'Viaoda Libre', cursive;

    --font-extra-small: 10px;
    --font-small: 15px;
    --font-medium: 20px;
    --font-big: 25px;
    --font-extra-big: 30px;

    --color-black: #000;
    --color-white: #fff;

    --color-white-choco: #ede6d6;
    --color-light-green: #90ee90;
    --color-light-blue: #add8e6;

    --radius-small: 10px;
    --radius-big: 30px;

    --spacing-extra-small: 5px;
    --spacing-small: 10px;
    --spacing-medium: 15px;
    --spacing-big: 20px;
    --spacing-extra-big: 25px;

    --border: 3px solid var(--color-black);
}

@mixin text($size) {
    font-family: var(--font-family);
    font-size: $size;

    user-select: none;

    color: #000;
}

@mixin title($size) {
    @include text($size);

    font-weight: bold;
}

body {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--color-white-choco);
}

.app {
    width: 60%;
    height: 80vh;

    background: var(--color-white);

    border-radius: var(--radius-big);

    padding: var(--spacing-extra-big) var(--spacing-medium);

    &_title {
        @include title(var(--font-extra-big));
        text-align: center;
    }

    &_add-task {
        width: 80%;
        margin: var(--spacing-medium) auto;

        display: flex;
        flex-direction: column;

        &_input {
            width: 80%;
            margin: var(--spacing-medium) auto;
            padding: var(--spacing-small) var(--spacing-medium);

            font-family: var(--font-family);
            font-weight: bold;
            font-size: var(--font-medium);

            color: var(--color-black);
            border-bottom: var(--border);
        }

        &_button {
            width: 30%;
            margin: var(--spacing-medium) auto;
            padding: var(--spacing-small) 0;

            font-family: var(--font-family);
            font-size: var(--font-medium);

            user-select: none;

            background: var(--color-white-choco);

            text-align: center;

            border: var(--border);
            border-radius: var(--radius-small);

            cursor: pointer;
        }
    }
}

.tasks {
    width: 90%;
    max-height: 50%;
    margin: var(--spacing-medium) auto;
    padding: var(--spacing-big) var(--spacing-medium);
}

.task {
    width: 90%;
    margin: var(--spacing-medium) auto;
    padding: var(--spacing-big) var(--spacing-medium);

    position: relative;

    border: var(--border);

    &_title {
        @include title(var(--font-medium))
    }

    &_date {
        @include text(var(--font-small))
    }

    &_time {
        @include text(var(--font-small))
    }

    &_buttons {
        position: absolute;
        top: 0;
        right: 0;

        height: 100%;
        padding: 0 var(--spacing-medium);

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    &_button {
        width: 25px;
        height: 25px;
        
        background-size: contain;
        background-repeat: no-repeat;

        cursor: pointer;

        &__start {
            background-image: url('../img/start.png');
        }

        &__return {
            background-image: url('../img/return.png');
        }

        &__check {
            background-image: url('../img/check.png');
        }

        &__delete {
            background-image: url('../img/delete.png');
        }
    }

    &__done {
        background: var(--color-light-green);
    }

    &__current {
        background: var(--color-light-blue);
    }
}