@import url("https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap");
:root {
  --font-family: "Viaoda Libre", cursive;
  --font-extra-small: 10px;
  --font-small: 15px;
  --font-medium: 20px;
  --font-big: 25px;
  --font-extra-big: 30px;
  --color-black: #000;
  --color-white: #fff;
  --color-white-choco: #ede6d6;
  --color-light-green: #90ee90;
  --radius-small: 10px;
  --radius-big: 30px;
  --spacing-extra-small: 5px;
  --spacing-small: 10px;
  --spacing-medium: 15px;
  --spacing-big: 20px;
  --spacing-extra-big: 25px;
  --border: 3px solid var(--color-black);
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-white-choco);
}

.app {
  width: 60%;
  height: 80vh;
  background: var(--color-white);
  border-radius: var(--radius-big);
  padding: var(--spacing-extra-big) var(--spacing-medium);
}
.app_title {
  font-family: var(--font-family);
  font-size: var(--font-extra-big);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #000;
  font-weight: bold;
  text-align: center;
}
.app_add-task {
  width: 80%;
  margin: var(--spacing-medium) auto;
  display: flex;
  flex-direction: column;
}
.app_add-task_input {
  width: 80%;
  margin: var(--spacing-medium) auto;
  padding: var(--spacing-small) var(--spacing-medium);
  font-family: var(--font-family);
  font-weight: bold;
  font-size: var(--font-medium);
  color: var(--color-black);
  border-bottom: var(--border);
}
.app_add-task_button {
  width: 30%;
  margin: var(--spacing-medium) auto;
  padding: var(--spacing-small) 0;
  font-family: var(--font-family);
  font-size: var(--font-medium);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: var(--color-white-choco);
  text-align: center;
  border: var(--border);
  border-radius: var(--radius-small);
  cursor: pointer;
}

.tasks {
  width: 90%;
  max-height: 60%;
  margin: var(--spacing-medium) auto;
  padding: var(--spacing-big) var(--spacing-medium);
  overflow-y: scroll;
}

.task {
  width: 90%;
  margin: var(--spacing-medium) auto;
  padding: var(--spacing-big) var(--spacing-medium);
  position: relative;
  border: var(--border);
}
.task_title {
  font-family: var(--font-family);
  font-size: var(--font-medium);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #000;
  font-weight: bold;
}
.task_date {
  font-family: var(--font-family);
  font-size: var(--font-small);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #000;
}
.task_time {
  font-family: var(--font-family);
  font-size: var(--font-small);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #000;
}
.task_buttons {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0 var(--spacing-medium);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.task_button {
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.task_button__check {
  background-image: url("../img/check.png");
}
.task_button__delete {
  background-image: url("../img/delete.png");
}
.task__done {
  background: var(--color-light-green);
}/*# sourceMappingURL=style.css.map */